@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University </h1>
    <p >
        by SMA 
    </p>
    <p>
        <br /><b>Source Code:</b>
        <ul>
            <li>DevOps Repo used (Private)</li>
            <li>DevOps Repo copy pushed to GitHub (Public) by DevOps Pipeline: <a href="https://github.com/SMAOrg/ContosoUniversity" target="_blank" rel="noopener noreferrer">GitHub Repo &raquo;</a> </li>
        </ul>
    </p>
    <p>    
        <b>Hosted</b> in Azure Web App Service
        <br />
    </p>
    <p>
        <b>CI/CD:</b> DevOps Pipelines
    </p>
    <p>
        <br />
        Based on Microsoft Contoso University sample application (Tutorial) 
        that demonstrates how to use Entity Framework Core in an ASP.NET Core MVC web application.
    </p>
</div>
